body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #313846;
}

.textApp{
  color: rgb(142, 169, 188);
}

.App {
  padding: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
} 

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin-top: 50px;
}

.card{
  background-color: #6e8795;
  padding: 25px;
  border-radius: 15px;
  color: rgb(26, 43, 67);
  box-shadow: 2px 5px 25px #000000;
}

.select{
  padding: 10px;
  background-color: rgb(26, 43, 67);
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  margin-top: 50px;
}

@media (max-width: 400px){
  .App {
    font-size: 12px;
  } 

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .card{
    margin-bottom: 25px;
  }

  .select{
    margin-top: 5px;
  }
}